html,
body {
   height: 100%;
}

.wrapper {
   min-height: 100%;
   overflow: auto;
}

.main {
   display: flex;
   flex: 1 1 auto;
   flex-direction: column;
}

li {
   list-style: none;
}

li:hover {
   background-color: transparent;
}

img {
   width: 300px;
   aspect-ratio: 6 / 5;
   border-radius: 10px;
}

/* **************Карточка**************** */
.product {
   align-items: center;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
   gap: 30px;
   margin-bottom: 20px;
}

.product_items {
   min-width: 20%;
   border-radius: 10px;
   cursor: pointer;
   border: 1px solid #ccc;
   background-color: inherit;
   padding: 15px;
}

.product_items img {
   margin-bottom: 5px;
}

.product_price {
   margin-bottom: 10px;
}

.item_image_cart {
   width: 200px;
}

.product_name {
   font-size: 25px;
   font-weight: bold;
   margin-bottom: 10px;
}

.product_items p {
   font-size: 20px;
}

.product_items:hover {
   background-color: #f9f9f9;
}

.product_dateAdd {
   /* overflow: hidden; */
   max-width: 300px;
}

.product_details p {
   font-size: 20px;
}

a.link_item {
   text-decoration: none;
   color: black;
}

a.link_item:hover {
   text-decoration: none;
}

.product_items_row {
   display: flex;
   flex-direction: row;
   gap: 15px;
   justify-content: center;
   align-items: center;
}

.product_items_wrapper {
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;
}

/* ************************************ */

.logged {
   font-size: 20px;
   border-radius: 7px;
   padding: 5px;
   border: 1px solid #000;
}

.logged_main {
   display: flex;
   justify-content: center;
   margin: 10px 0px;
}

/* ************************************* */


.forgot_check {
   display: flex;
   flex-direction: column;
   gap: 5px;
   margin-bottom: 10px;
}

.forgot_pass {
   padding: 13px;
   border-radius: 10px;
   border: 1px solid #ccc;
}

.success_audit {
   background-color: gainsboro;
   height: 10rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.success {
   padding: 13px;
   border-radius: 10px;
   border: 1px solid #ccc;
   font-size: 20px;
}

.success_message {
   background-color: #d9ffdb;
   color: green;
   padding: 13px;
   border-radius: 10px;
   border: 1px solid #ccc;
   font-size: 20px;
}

.error_message {
   background-color: #ffdada;
   color: red;
   padding: 13px;
   border-radius: 10px;
   border: 1px solid #ccc;
   font-size: 20px;
}

.error_registration {
   padding: 13px;
   border-radius: 10px;
   border: 1px solid #ccc;
   font-size: 20px;
   color: red;
}

.error {
   color: red;
   text-decoration: underline;
   position: absolute;
   top: 25px;
   right: 5px;
}

.surname {
   top: 83px;

}

.login {
   top: 140px;
}

.password {
   top: 197px;
}

.repeat_password {
   top: 197px;
}


.form_container form {
   position: relative;
}

.login_row {
   display: flex;
   flex-direction: row;
   gap: 10px;
   justify-content: center;

   div,
   label,
   input {
      cursor: pointer;
   }

   label {
      font-size: 18px;
   }
}

.info {
   display: flex;
   justify-content: center;
   margin: 10px 0px;
}

.register_pass {
   display: flex;
   gap: 10px;
}

/* **********header************ */
.header {
   min-height: 70px;
   display: flex;
   padding: 10px 0px;

   .header__menu {
      display: flex;
      gap: 10px;
      padding: 10px 0px;
      align-items: center;
      flex-wrap: wrap;
   }

   .header__link {
      a {
         font-size: 20px;
         color: black;
         padding: 7px;
         background-color: darkgray;
         border-radius: 15px;
      }

      :hover {
         background-color: #d6d0d0;
         text-decoration: none;
      }
   }
}

.table {
   overflow-x: auto;
}

.back_to_product {
   font-size: 20px;
   color: black;
   padding: 7px;
   background-color: darkgray;
   border-radius: 15px;
}

/* **************************** */

.footer {
   font-size: 20px;
   display: flex;
   justify-content: center;
   width: 100%;
   align-items: center;
   min-height: 70px;
}

.summary {
   font-weight: bold;
   font-size: 20px;
}




/* ****************input type file */
input::file-selector-button {
   font-weight: bold;
   color: green;
   padding: 0.5em;
   border: thin solid grey;
   border-radius: 3px;
   width: 50%;
   margin-bottom: 15px;
}

/* **************************** */

.products {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.sort {
   margin-right: 3%;
}