.purchased {
   margin: 0 auto;
   padding: 15px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   min-width: 275px;
}

.form_products {
   display: flex;
}

.form_products form {
   padding: 15px;
}